
@{
    ViewBag.Title = "Register";
}

<h2>Register Employee</h2>
<form action="" method="post">
    <input type="text" name="EmpName" class="form-control" placeholder="Employee name" /> <br />
    <input type="password" name="Password" class="form-control" placeholder="Password" /> <br />
    <input type="submit" class="btn btn-success" value="Create" />
</form>
