
@{
    ViewBag.Title = "Register";
}

<h2>Register a Resturent</h2>
<form action="" method="post">
    <input type="text" name="ResName" class="form-control" placeholder="Resturent name" /> <br />
    <input type="password" name="Password" class="form-control" placeholder="Password" /> <br />
    <input type="submit" class="btn btn-success" value="Create" />
</form>

